<div class="container">
    {{>message}}
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Crear Usuario</h1>
                        </div>
                        <form class="user" action="/signup" method="POST">
                            <div class="form-group row">
                                <div class="form-group col-sm-6 mb-3 mb-sm-0">
                                    <label class="label label-default">Cédula:</label>
                                    <input type="text" class="form-control " name="number_id"
                                        placeholder="" required>
                                </div>
                                <div class="form-group col-sm-6 mb-3 mb-sm-0">
                                    <label class="label label-default">Nombres:</label>
                                    <input type="text" class="form-control " name="name" placeholder=""
                                        required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label class="label label-default">Apellidos:</label>
                                    <input type="text" class="form-control " name="lastname"
                                        placeholder="" required>
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label class="label label-default">Teléfono:</label>
                                    <input type="text" class="form-control " name="telephone"
                                        placeholder="" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label class="label label-default">Celular:</label>
                                    <input type="text" class="form-control " name="cellphone"
                                        placeholder="" required>
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label class="label label-default">Dirección:</label>
                                    <input type="text" class="form-control " name="address"
                                        placeholder="" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                <label for="exampleFormControlSelect1">Tipo usuario:</label>
                                <select class="form-control" name="tipou_id">
                                    <option value=""></option>
                                    {{#each tipo_users}}
                                    <option value="{{id}}">{{name}}</option>
                                    {{/each}}
                                </select>
                                </div>                                
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label class="label label-default">Usuario:</label>
                                    <input type="text" class="form-control " name="username"
                                        placeholder="" required>
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label class="label label-default">Password:</label>
                                    <input type="password" class="form-control " name="password"
                                        placeholder="" required>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-lg-6">
                                    <button class="btn btn-primary btn-user btn-block">
                                        Guardar
                                    </button>
                                </div>
                                <div class="col-lg-6">
                                    <a href="/users" class="btn btn-danger btn-user btn-block">
                                        Cancelar
                                    </a>
                                </div>
                                <hr>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>